<h2>Hero List {{title}}</h2>
<p><i>Pick a hero from the list</i></p>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="selectHero(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<!--<hero-detail *ngIf="selectedHero" [hero]="selectedHero"></hero-detail>-->
{{selectedHero | json}}

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} details!</h2>
  <div><label>id: </label>{{selectedHero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
  </div>
</div>
